/* Set margin and padding to 0 for the body element */
body {
    margin: 0;
    padding: 0;
  }
p {
    padding-left: 1rem;
}
h1,h2 {
  padding-left: 1rem;
  text-align: center;
}
  /* Style the navbar */
  .navbar {
    display: flex;
    justify-content:flex-end;;
    align-items: center;
    background-color: maroon;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar a {
    color: rgb(210, 210, 210);
    text-decoration: none;
    margin-left: 20px;
  }
  
  .navbar a:hover {
    color: white;
  }

    .navbarstudent {
    display: flex;
    justify-content:flex-end;;
    align-items: center;
    background-color: rgb(35, 35, 116);
    color: white;
    padding: 10px 20px;
  }

  .navbarstudent a {
    color: rgb(210, 210, 210);
    text-decoration: none;
    margin-left: 20px;
  }
  
  .navbarstudent a:hover {
    color: white;
  }
  /* Style the card layout */
  .card-container-landing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
  }
  .card-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
  }
  
  .card {
    cursor: pointer;
    height: 17rem;
    width: 25rem;
    flex-wrap: wrap;
    background-color: #f8f9fa;
    border-radius: 0.6rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    margin: 1.5rem;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }

  .text {
    margin-left: 10px;
    border-radius: 25%;
    background-color: white;
  }

  .text:hover {
    color: red;
  }
  
  /* Style the profile page */
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .profile h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .profile p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  /* Style the about us page */
  .aboutus {
    margin: 20px;
  }
  
  .aboutus h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .aboutus p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  ul {
    display: flex; /* make the list items appear in a row */
    list-style: none; /* remove bullet points */
  }
  
  li {
    margin-right: 20px; /* add space between list items */
  }
  
  a {
    font-weight: normal; /* set normal font weight */
    text-decoration: none; /* remove underline */
  }
  
  a:hover {
    font-weight: bold; /* set bold font weight on hover */
  }
  
  .back-button {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 2rem;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .back-button.clicked {
    background-color: blue;
    color: white;
  }
  